.console {
    height: 165px;
    overflow: auto;
    background-color: black;
    padding: 10px;
    font-family: monospace;
    font-size: large;
}
.console-text {
    caret-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    font-family: monospace;
    font-size: large;
}
.console-feedback-text {
    color: #ccff33;
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #01802b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #073f02; 
}
